<?xml version="1.0" encoding="UTF-8"?>
<!--
File: model.config
Project: AshBot World
File Created: Sunday, 16th February 2025 2:49:39 PM
Author: nknab
Email: kojo.anyinam-boateng@alumni.ashesi.edu.gh
Version: 1.0
Brief: Configuration file for the race track model.
~~~~~
Last Modified: Sunday, 16th February 2025 2:52:24 PM
Modified By: nknab
~~~~~
Copyright ©2025 nknab
-->
<model>
	<name>race_track</name>
	<version>0.1.0</version>
	<sdf version="1.5">model.sdf</sdf>
	<author>
		<name>nknab</name>
		<email>kojo.anyinam-boateng@alumni.ashesi.edu.gh</email>
	</author>
	<sdf>model.sdf</sdf>
	<description>
    The floor for the race track
	</description>

</model>